<%- include("../includes/header.ejs", {title: "Update " + result[0].last_name}); %>

<h1>Update <%= result[0].first_name%> <%= result[0].last_name%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="account_id" name="account_id" value="<%= result[0].account_id %>">
    first_name: <input id="first_name" name="first_name" type="text" value="<%= result[0].first_name%>"/>
    <br />
    <br />

    <input type="submit" />
</form>



<%- include("../includes/footer.ejs"); %>

</html>