<%- include("../includes/header.ejs", {title: "Update " + result[0].last_name}); %>

<h1>Update  Street:<%= result[0].street%>    Zip:<%= result[0].zipcode%></h1>
<form action="/address/update" method="get">
    <input type="hidden" id="address_id" name="address_id" value="<%= result[0].address_id %>">
    street: <input id="street" name="street" type="text" value="<%= result[0].street%>"/>
    <br />
    zipcode: <input id="zipcode" name="zipcode" type="text" value="<%= result[0].zip_code%>"/>
    <br />
    <input type="submit" />
</form>



<%- include("../includes/footer.ejs"); %>

</html>